.custom-btn {
  margin: 0.25rem;
  padding: 0.15em;
  width: 100%;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.025);
  }
}
